extends ../layouts/default

block content
	section#intro.intro.intro-02.parallax(style="height:928px; background-position: 25% -150px;")
			.inner-overlay
				.container
					.row
						article.fullheight.text-center.col-md-12(style="height:928px;")
							.valign.intro-caption
								h1.font1.white Science Technology Engineering Mathematics
								a.btn.btn-nexus.btn-nexus-white.font2(href="/blog") Latest News